body{
	background-color: black;
}
.container{
	background-color: #272526;
	width: 70%;
	margin: auto;
}
.container>.information{
	width: 66%;
	padding-bottom: 35px;
	background-color: white;
	display: flex;
	background: #fff url(../../image/confidential-logo.gif) no-repeat left bottom;
}
.container>.information img{
	margin: 10px 10px;
}
.container>.menu li{
	display: inline-block;
	padding: 0 30px;
}
.container>.menu{
	text-align: center;
	border-top: 1px dotted #fff;
	margin-top: 30px;
	padding : 10px 0;
}
.container>.menu img{
	display: block;
	margin: auto;
}
.container>.information>.left{
	padding-top: 2px;
	width: 50%;
	border-right: 1px dotted black;
}
.container>.information>.left img{
	width: 290px; 
	height: 150px;
}
.container>.information>.left>h4{
	background-image: url(../../image/h3-confidential-showbuzz-bg.gif);
	background-size: 100% 100%;
	height: 25px;
}
.container>.information>.left>h4 a{
	margin-left: 240px;
}
.container>.information>.left>h3{
	background-image: url(../../image/h2-confidential-heading-bg.gif);
	color: white;
	margin: 0;
}
.container>.information>.right{
	padding-top: 2px;
	width: 50%;
}
.container>.information>.right img{
	width: 290px;
	height: 150px;
}
.container>.information>.right>h3{
	background-image: url(../../image/h2-confidential-heading-bg.gif);
	color: white;
	margin: 0;
}
.container>.information>.right>h4 a{
	margin-left: 240px;
}
.container>.information>.right>h4{
	background-image: url(../../image/h3-confidential-shootingstars-bg.gif);
	background-size: 100% 100%;
	height: 25px;
}
.container>.information>.search{
	min-width:51%;
}
.container>.information>.search> input{
	margin-left: 25px;
}
.container>.information>.search> button{
	border: none;
	background-color: purple;
	color: white;
}
.container>.image{
	width: 150px;
}
.container>.movie{
	width: 66%;
	display: flex;
	margin-top: 10px;
}
.container>.movie>.left{
	width: 50%;
	margin-right: 20px;
}
.container>.movie>.left>h3{
	background-image:  url(../../image/h2-top-movie-trailers-bg.gif);
	color: white;
}
.container>.movie>.left  button:first-child{
	background: #eee  url(../../image/open.jpg) no-repeat center right;
}
.container>.movie>.left button{
	background: #eee  url(../../image/close.jpg) no-repeat center right;
	width: 100%;
	border: none;
	padding: 4px 1px;
	text-align: left;
	color: #0189bb;
	font-weight: bold;
}
.container>.movie>.left .inf{
	background-color: white;
	color: black;
	font-size: 13px;
	display: flex;
	height: 110px;
}
.container>.movie>.left .inf p{
	margin: 0 0 0 10px;
}
.container>.movie>.left ul{
	margin: 0;
	list-style-type: none;
	padding: 0;
	line-height: 22px;
	color: #0189bb;
	font-weight: 700;
}
.container>.movie>.left>.shop{
	background: #fff url(../../image/now-showing-icon.gif) no-repeat 2%;
	padding: 10px;
}
.container>.movie>.left>.shop>span{
	margin-left: 20px;
	font-weight: 600;
}
.container>.movie>.right{
	width: 50%;
	background: #fff;
}
.container>.movie>.right>h3{
	background-image:  url(../../image/h2-top-movie-trailers-bg.gif);
	color: white;
}
.container>.movie>.right>.box1{
	border-bottom: 1px dotted black;
	padding-bottom: 15px;
}
.container>.movie>.right>.box1>h4,.box2>h4{
	background: url(../../image/start_1.png) no-repeat right;
	margin: 0;
	color: #0189bb;
}
.container>.movie>.right>.times{
	background: url(../../image/clock.png) no-repeat 2% 90%;
	background-size: 15px;
	width: 95%;
	padding-top: 10px;
}
.container>.movie>.right>.times>a{
	margin-left: 25px;
	font-size: 13px;
}
.container>.movie>.right>.times>.date{
	margin-left: 25px;
	border-top: 1px dotted black;
	padding-top: 5px;
	font-size: 13px
}
.container>.movie>.right>.times span{
	margin-left: 25px;
}
.container>.movie>.right .inf{
	display: flex;
}
.container>.movie .clip{
	background: url(../../image/icon_1.png) 2% ;
	background-repeat: no-repeat;
	color: #0189bb;
}
.container>.movie .clip> span{
	margin-left: 10%; 
	padding-left: 5px;
}
a{
	text-decoration: none;
	color: black;
	font-weight: 700;
}
b,.movie a{
	color: #0189bb;
}
.menu a {
	color: white;
}
h3{
	margin: 0;
}
select{
	width: 150px;
}
.inf>p,h5{
	margin: 0;
}
footer{
	
	background-color: white;
	width: 70%;
	margin: -15px auto;
	font-size: 11px;
	text-align: center;
	padding: 5px 0;
}
footer  a,h5{
	color: #0189bb;
}
footer a:last-child{
	float: right
}